<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="table">
  <div class="container">
    <div style="padding-top: 30px">
      <a class="btn btn-primary" href="http://localhost:8080/create-new" role="button">Create new Article</a>
      <a href="?lang=en">English</a>
      <a href="?lang=kh">Khmer</a>
      <a href="?lang=ko">Korea</a>
    </div>
<div style="padding-top: 30px">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" th:text="#{Title}">Title</th>
      <th scope="col" th:text="#{Description}">Description</th>
      <th scope="col" th:text="#{Image}">Image</th>
      <th scope="col" th:text="#{Action}">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="information:${informationList}">
      <td th:text="${information.getId()}"></td>
      <td th:text="${information.getTitle()}"></td>
      <td th:text="${information.getDescription()}"></td>
      <td>Otto</td>
      <td>
        <div>
          <button type="button" class="btn btn-outline-success">View</button>
          <button type="button" class="btn btn-outline-warning">Edit</button>
        </div>
        <button type="button" class="btn btn-outline-danger">Delete</button>
      </td>
    </tr>
    <tr>
    </tbody>
  </table>
</div>
</div>
</div>
</body>
</html>